@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

body {
  text-align: center;
  background-color: #FDF5DF;
  font-family: 'Concert One', cursive;
}

h1 {
  color: #5EBEC4;
}

.dark-text {
  color: #5EBEC4;
  font-weight: 900;
}

.button {
  background-color: #F92C85;
  color: white;
  cursor: pointer;
}

.more-info-button {
  padding: 5px;
}

#pet-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#pet-card {
  margin: 20px;
  border: 1px solid gray;
  box-shadow: 5px 8px 20px rgb(207, 222, 224);;
  /* height: 200px; */
  width: 250px;
  text-align: center;
  padding: 10px;
}

.toolTip {
  height: fit-content;
}

#user-input-box {
  width: 250px;
  padding: 10px;
}

#get-animal-button {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  font-weight: 800;
}

