@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

body {
  text-align: center;
  background-color: #FDF5DF;
  font-family: 'Concert One', cursive;
}

h1 {
  color: #5EBEC4;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  position: absolute;
  left: 20px;
}

.dark-text {
  color: #5EBEC4;
  font-weight: 900;
}

.button {
  background-color: #F92C85;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
}

.nextBtn {
  margin: 20px;
  padding: 10px;
  font-weight: bold;
  width: 150px;
}

.more-info-button {
  padding: 6px;
  margin-bottom: 10px;
}

#pet-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#pet-card {
  margin: 20px;
  border: 1px solid gray;
  box-shadow: 5px 8px 20px rgb(207, 222, 224);;
  /* height: 200px; */
  width: 250px;
  text-align: center;
  padding: 10px;
  position: relative;
}

.toolTip {
  height: fit-content;
}

#user-input-box {
  width: 250px;
  padding: 10px;
}

#get-animal-button {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  font-weight: 800;
}



